<%= form_with model: @invoice, data: {remote: true} do |f| %>
  <div class="field">
    <label class="label">Reference</label>
    <p class="control">
      <%= f.text_field :reference, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Invoice Date</label>
    <p class="control">
      <%= f.text_field :invoice_date, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Customer</label>
    <p class="control">
      <%= f.text_field :customer, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Brand Manger</label>
    <p class="control">
      <%= f.text_field :brand_manager, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Narration</label>
    <p class="control">
      <%= f.text_field :narration, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>

  <div class="field">
    <label class="label">Reference</label>
    <p class="control">
      <%= f.text_field :amount, class: 'input', required: true, placeholder: 'Name of Schedule To Be Created' %>
    </p>
  </div>


  <hr style="width: auto">


  <div class="field has-addons">
    <%= f.submit nil, class: 'button is-success', style: "margin-right: 15px;" %>
  </div>

<% end %>