<div class="modal new-tally-connection-modal is-active">
  <div class="modal-background" data-dismiss="modal"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create a new Tally Connection</p>
      <button data-dismiss="modal" class="delete"></button>
    </header>
    <%= form_with url: collection_item_index_path, data: {remote: true} do |f| %>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Amount</label>
          <p class="control">
            <%= f.text_field 'collection_item[amount]', class: 'input', required: true %>
          </p>
        </div>

        <div class="field">
          <label class="label">Collection Date</label>
          <p class="control">
            <%= f.date_field 'collection_item[collection_date]', class: 'input', required: true %>
          </p>
        </div>

        <div class="field">
          <label class="label">Reference</label>
          <p class="control">
            <%= f.text_field 'collection_item[reference]', class: 'input', required: true, value: reference %>
          </p>
        </div>

      </section>
      <footer class="modal-card-foot">
        <%= f.submit nil, class: 'button is-primary' %>
        <a data-dismiss="modal" class="button">Cancel</a>
      </footer>
    <% end %>
  </div>
</div>