<tr>
  <td>
    <%= link_to invoice.reference, invoice_path(invoice) %></td>
  <td>
    <%= invoice.invoice_date %></td>
  <td>
    <%= invoice.customer_name %></td>
  <td>
    <%= invoice.brand_manager %></td>
  <td>
    <%= invoice.narration %></td>
  <td>
    <%= invoice.amount %></td>
  <td>
    <%= invoice.total_collection_amount %></td>
  <td>
    <%= invoice.balance_due %></td>
  <td><%= link_to 'Add Collection', root_path(type: 'add_collection', invoice_id: invoice.id, reference: invoice.reference), data: {remote: true} %></td>
</tr>