<div class="box">
  <div class="columns" style="padding: 20px;">
    <div class="column">
      <%= link_to 'Add a New Bill', root_path(type: 'nf'), class: 'button is-primary', data: {remote: true} %>
    </div>

    <div class="column">
      <%= link_to 'Show Pending Bills', root_path(type: 'pb'), class: 'button is-primary', data: {remote: true} %>
    </div>

    <div class="column">
      <%= link_to 'Show Collected Bills', root_path(type: 'cb'), class: 'button is-primary', data: {remote: true} %>
    </div>

    <div class="column">
      <%= link_to 'Sync Invoices', sync_invoices_path, class: 'button is-primary' %>
    </div>

    <div class="column">
      <%= link_to 'Reload', root_path, class: 'button is-primary' %>
    </div>

  </div>
  <% if @invoices.present? %>
    <table class="table" data-id="invoice-table">
      <thead>
      <tr>
        <th>Reference</th>
        <th>Invoice Date</th>
        <th>Customer</th>
        <th>Brand Manager</th>
        <th>Narration</th>
        <th>Amount</th>
        <th>Total Collection</th>
        <th>Balance Due</th>
        <th>Add Collection</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'invoice_data_row', collection: @invoices, as: :invoice %>

      </tbody>
    </table>
  <% else %>
    <p class="">There is no invoices are present.. please click sync invoices button</p>
  <% end %>
</div>

<div data-id="new-form" class="is-hidden">

</div>


<div data-id="colletion-modal">

</div>