invoiceTable = $("[data-id='invoice-table']")
colletionModal = $("[data-id='colletion-modal']")
newForm = $("[data-id='new-form']")
<% if params[:type] == 'nf' %>
invoiceTable.addClass('is-hidden')
newForm.html("<%= j render partial: 'add_new_bill' %>")
newForm.removeClass('is-hidden')
<% elsif params[:type] == 'add_collection' %>
colletionModal.html('<%= j render partial: 'collection_modal', locals: {reference: params[:reference]} %>')
<% else %>
invoiceTable.find('tbody').empty()
invoiceTable.find('tbody').html("<%= j render partial: 'invoice_data_row', collection: @invoices , as: :invoice%>")
invoiceTable.removeClass('is-hidden')
<% end %>