<%= link_to 'back', root_path %>
<div>
  <p>
    <%= @invoice.reference %></p>
  <p>
    <%= @invoice.invoice_date %></p>
  <p>
    <%= @invoice.customer_name %></p>
  <p>
    <%= @invoice.brand_manager %></p>
  <p>
    <%= @invoice.narration %></p>
  <p>
    <%= @invoice.amount %></p>
  <p>
    <%= @invoice.total_collection_amount %></p>
  <p>
    <%= @invoice.balance_due %></p>
  <p><%= link_to 'Add Collection', root_path(type: 'add_collection', invoice_id: @invoice.id, reference: @invoice.reference), data: {remote: true} %></p>
</div>

<div data-id="colletion-modal">

</div>