<!DOCTYPE html>
<html>
<head>
  <title>AxbInvoicing</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar app-navbar" style="background-color: #00d1b2">
  <div class="container">

    <div class="navbar-brand" style="z-index: 1 ;">
      <a class="navbar-item" href="<%= root_path %>">
        <div class="logo">
        </div>
      </a>
    </div>

    <div class="navbar-menu">

      <div class="navbar-item">

      </div>
    </div>
  </div>
</nav>
<br>
<%= yield %>
</body>
</html>
